<title>se7en register</title>
<h1 class="title">Register</h1>
<form class="form" action="/register" method="POST">
    <fieldset>
        <legend>Name</legend>
        <input type="text" name="name" placeholder="Account name" required>
    </fieldset>
    <fieldset>
        <legend>E-mail</legend>
        <input type="email" name="email" placeholder="Email" required>
    </fieldset>
    <fieldset>
        <legend>Password</legend>
        <input type="password" name="password" placeholder="Password" required>
    </fieldset>
    <fieldset>
        <legend>Confirm your password</legend>
        <input type="password" name="confirmpassword" placeholder="Password" required>
    </fieldset>
    <button>Register</button>
</form>
<p class="account-message">Alredy have an account? <a href="/login">Login</a></p>
