<link rel="stylesheet" href="/style/home.css">
<title>Arkadius</title>

<div class="home-text">
  <h1>Show the <span class="gradient-text">world</span> who you are</h1>
  <h2>Create a profile on <span class="gradient-text">Arkadius</span></h2>
</div>
<form action="/" method="POST">
  <input placeholder="Username" type="text" name="username">
  <button><i class="fa-solid fa-arrow-right"></i></button>
</form>
<p>Alredy have an account? <a href="/auth/login">Login here</a></p>