<title>se7en post</title>
<h1 class="title">Make a new post</h1>
<form class="form" action="/posts/add" method="POST">
  <fieldset>
        <legend>Message</legend>
        <textarea name="title" placeholder="Write your post" required maxlength="255"></textarea>
    </fieldset>
    <button>Post</button>
</form>