<title>se7en post</title>
<h1 class="title">Edit a post</h1>
<form class="form" action="/posts/edit" method="POST">
<input type="hidden" name="id" value={{post.id}}>
  <fieldset>
        <legend>Message</legend>
        <textarea name="title" placeholder="Write your post" required maxlength="255">{{post.title}}</textarea>
    </fieldset>
    <button>Edit</button>
</form>